.categories{

  &__container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  &__lists{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item{
    max-width: 180px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    font-weight: 600 ;
    
    background: linear-gradient(180deg, transparent 50%, rgba(112, 130, 70, 0) 45% , rgba(112, 130, 70, 0.1) 80%);

    &-img{
      filter: drop-shadow(20px 20px 15px rgba(204, 38, 27, 0.2));
    }
    &.red{
      background: linear-gradient(180deg, transparent 50%, rgba(204, 38, 27, 0) 45% , rgba(204, 38, 27, 0.1) 80%);
    }
    &.green{
      background: linear-gradient(180deg, transparent 50%, rgba(108, 198, 63, 0) 45% , rgba(108, 198, 63, 0.1) 80% );
    }

    &-title{
      margin-block: 50px 30px;
    }
  }

  &__all-btn{
    cursor: pointer;
    font-weight: 600;
    border-radius: 15px;
    border: none;
    right: 0;
    position: absolute;
    top: 0;
    background-color: #E7FAFE;
    padding: 21px 27px;
  }
}